<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.aberic.simple.module.mapper.PeerDao">
    <!--设置domain类和数据库中表的字段一一对应，注意数据库字段和domain类中的字段名称不致，此处一定要！-->
    <resultMap id="BaseResultMap" type="cn.aberic.simple.module.dto.PeerDTO">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="org_id" property="orgId" jdbcType="CHAR" />
        <result column="peer_name" property="peerName" jdbcType="CHAR" />
        <result column="peer_event_hub_name" property="peerEventHubName" jdbcType="CHAR" />
        <result column="peer_location" property="peerLocation" jdbcType="CHAR" />
        <result column="peer_event_hub_location" property="peerEventHubLocation" jdbcType="CHAR" />
        <result column="event_listener" property="isEventListener" jdbcType="BOOLEAN" />
    </resultMap>
    <!-- 查询单条记录 -->
    <select id="selectUserById" parameterType="int" resultMap="BaseResultMap">
        SELECT * FROM t_user WHERE USER_ID = #{userId}
    </select>
</mapper>