<?xml version="1.0" encoding="UTF-8"?>
<!--启动项设置为 trace，加载 spring boot 启动内部各种详细输出-->
<configuration status="trace">
    <!-- 先定义所有的appender -->
    <appenders>
        <!-- 添加一个控制台追加器 -->
        <Console name="Console" target="SYSTEM_OUT">
            <!-- 这个都知道是输出日志的格式 -->
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n"/>
        </Console>

        <!-- 添加过滤器ThresholdFilter,可以有选择的输出某个级别以上的类别  onMatch="ACCEPT" onMismatch="DENY"意思是匹配就接受,否则直接拒绝  -->
        <File name="ERROR" fileName="/home/logs/error.log">
            <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d{yyyy.MM.dd 'at' HH:mm:ss z} %-5level %class{36} %L %M - %msg%xEx%n"/>
        </File>

        <!-- 这个会打印出所有的信息，每次大小超过size，则这size大小的日志会自动存入按年份-月份建立的文件夹下面并进行压缩，作为存档 -->
        <RollingFile name="RollingFile" fileName="/home/logs/edge.log"
                     filePattern="/home/logs/$${date:yyyy-MM}/edge-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout pattern="%d{yyyy-MM-dd 'at' HH:mm:ss z} %-5level %class{36} %L %M - %msg%xEx%n"/>
            <SizeBasedTriggeringPolicy size="10MB"/>
        </RollingFile>
    </appenders>

    <!-- 然后定义logger，只有定义了logger并引入的appender，appender才会生效 -->
    <loggers>
        <Logger name="cn.aberic.fabric" level="debug"/>
        <!-- 建立一个默认的root的logger -->
        <root level="trace">
            <!-- AppenderRef 可以控制文件输出对象-->
            <appender-ref ref="RollingFile"/>
            <appender-ref ref="Console"/>
            <appender-ref ref="ERROR"/>
        </root>
    </loggers>
</configuration>