<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="footer">
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-6 col-md-3">
                            <ul class="list-unstyled mb-0">
                                <li>
                                    <a href="https://github.com/aberic/fabric-net-server">Fabric Net Server</a>
                                </li>
                                <li>
                                    <a href="http://www.cnblogs.com/aberic/">Aberic Blog</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-6 col-md-3">
                            <ul class="list-unstyled mb-0">
                                <li>
                                    <a href="https://item.jd.com/12381034.html?dist=jd">Book Link</a>
                                </li>
                                <li>
                                    <a href="https://hub.docker.com/u/aberic/">Docker Image</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-6 col-md-3">
                            <ul class="list-unstyled mb-0">
                                <li>
                                    <a href="https://github.com/hyperledger">HyperLedger</a>
                                </li>
                                <li>
                                    <a href="https://jira.hyperledger.org/secure/Dashboard.jspa">Jira</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-6 col-md-3">
                            <ul class="list-unstyled mb-0">
                                <li>
                                    <a href="https://jira.hyperledger.org/secure/Dashboard.jspa">Fabric Doc</a>
                                </li>
                                <li>
                                    <a href="http://hyperledger-fabric-ca.readthedocs.io/en/latest/">Fabric CA Doc</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mt-4 mt-lg-0">
                    <span th:text="#{brief}"></span>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <div class="row align-items-center flex-row-reverse">
                <div class="col-auto ml-lg-auto">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <ul class="list-inline list-inline-dots mb-0">
                                <li class="list-inline-item">
                                    <a href="https://github.com/aberic/fabric-net-server/blob/master/README.md" th:text="#{documentation}"></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="https://github.com/aberic/fabric-net-server/issues">FAQ</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-auto">
                            <a href="https://github.com/aberic/fabric-net-server" class="btn btn-outline-primary btn-sm"
                               th:text="#{source_code}"></a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-auto mt-3 mt-lg-0 text-center">
                    Copyright © 2018
                    <a href="http://www.cnblogs.com/aberic">Aberic</a>. Theme by
                    <a href="https://codecalm.net" target="_blank">codecalm.net</a> All rights reserved.
                </div>
            </div>
        </div>
    </footer>
</div>
</html>
