<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>新增组织</title>
    <meta name="description" content="新增组织">
    <meta name="keywords" content="新增组织">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" href="/static/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/static/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="新增组织"/>
    <script src="/static/js/echarts.min.js"></script>
    <link rel="stylesheet" href="/static/css/amazeui.min.css"/>
    <link rel="stylesheet" href="/static/css/amazeui.datatables.min.css"/>
    <link rel="stylesheet" href="/static/css/app.css">
    <script src="/static/js/jquery.min.js"></script>

</head>

<body data-type="widgets">
<script src="/static/js/theme.js"></script>
<div class="am-g tpl-g">
    <!-- 头部 -->
    <header>
        <div th:include="common_header :: header"></div>
    </header>
    <!-- 风格切换 -->
    <div th:include="common_skin.html :: skin"></div>
    <!-- 侧边导航栏 -->
    <div th:include="common_sidebar :: sidebar"></div>
    <!-- 内容区域 -->
    <div class="tpl-content-wrapper">

        <div class="container-fluid am-cf">
            <div class="row">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
                    <div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"
                                                           th:text="${intentLarge}"></span>
                        <small>HyperLedger Fabric网络组织单元</small>
                    </div>
                    <p class="page-header-description">fabric-net-server可以管理多个组织</p>
                </div>
            </div>

        </div>

        <div class="row-content am-cf">
            <div class="row">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                    <div class="widget am-cf">
                        <div class="widget-head am-cf">
                            <div class="widget-title am-fl" th:text="${intentLittle}"></div>
                        </div>
                        <div class="widget-body am-fr">

                            <form class="am-form tpl-form-line-form" th:action="@{submit}" th:method="post"
                                  enctype="multipart/form-data"
                                  th:object="${org}">
                                <div class="am-form-group">
                                    <label for="league-name" class="am-u-sm-3 am-form-label">联盟 <span
                                            class="tpl-form-line-small-title">league</span></label>
                                    <div class="am-u-sm-9">
                                        <select data-am-selected="{searchBox: 1}" style="display: none;"
                                                id="league-name"
                                                th:field="*{leagueId}">
                                            <option th:each="league: ${leagues}" th:value="${league.id}"
                                                    th:text="${league.name}"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label for="name" class="am-u-sm-3 am-form-label">名称 <span
                                            class="tpl-form-line-small-title">Name</span></label>
                                    <div class="am-u-sm-9">
                                        <input type="text" class="tpl-form-input" id="name" placeholder="请输入组织名称"
                                               th:value="${org.name}"
                                               th:field="*{name}">
                                        <input type="hidden" name="intent" th:value="${intent}"/>
                                        <input type="hidden" name="id" th:value="${org.id}"/>
                                        <small>请填写组织名称，如Org1。</small>
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label for="msp-id" class="am-u-sm-3 am-form-label">组织ID <span
                                            class="tpl-form-line-small-title">MSPID</span></label>
                                    <div class="am-u-sm-9">
                                        <input type="text" class="tpl-form-input" id="msp-id"
                                               placeholder="请输入组织唯一标识符"
                                               th:field="*{mspId}">
                                        <small>请填写组织唯一标识符，如Org1MSP。</small>
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label for="domain-name" class="am-u-sm-3 am-form-label">组织域名 <span
                                            class="tpl-form-line-small-title">domain</span></label>
                                    <div class="am-u-sm-9">
                                        <input type="text" class="tpl-form-input" id="domain-name" placeholder="请输入组织域名"
                                               th:field="*{domainName}">
                                        <small>请填写组织域名，如org1.example.com。</small>
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label for="orderer-domain-name" class="am-u-sm-3 am-form-label">排序服务域名 <span
                                            class="tpl-form-line-small-title">ordererDomain</span></label>
                                    <div class="am-u-sm-9">
                                        <input type="text" class="tpl-form-input" id="orderer-domain-name"
                                               placeholder="请输入排序服务域名"
                                               th:field="*{ordererDomainName}">
                                        <small>请填写排序服务域名，如example.com。</small>
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label for="username" class="am-u-sm-3 am-form-label">用户名称 <span
                                            class="tpl-form-line-small-title">username</span></label>
                                    <div class="am-u-sm-9">
                                        <input type="text" class="tpl-form-input" id="username" placeholder="请输入访问用户名"
                                               th:field="*{username}">
                                        <small>请填写组织节点下访问用户名称，如Admin、User1。</small>
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label for="crypto-config" class="am-u-sm-3 am-form-label">组织加密配置 <span
                                            class="tpl-form-line-small-title">CryptoConfig</span></label>
                                    <div class="am-u-sm-9">
                                        <div class="am-form-group am-form-file">
                                            <button type="button" class="am-btn am-btn-danger am-btn-sm"
                                                    id="crypto-config">
                                                <i class="am-icon-cloud-upload"></i> CryptoConfig所在目录的目录名称
                                            </button>
                                            <input id="doc-form-file" type="file" name="file">
                                        </div>
                                        <div id="file-list"></div>
                                        <script>
                                            $(function () {
                                                $('#doc-form-file').on('change', function () {
                                                    var fileNames = '';
                                                    $.each(this.files, function () {
                                                        fileNames += '<span class="am-badge">' + this.name + '</span> ';
                                                    });
                                                    $('#file-list').html(fileNames);
                                                });
                                            });
                                        </script>
                                        <small>请按照crypto-config目录结构将必要的证书文件打包在crypto-config.zip文件中。如测试，则直接以zip打包crypto-config上传即可。</small>
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label for="tls" class="am-u-sm-3 am-form-label">开启TLS <span
                                            class="tpl-form-line-small-title">tls</span></label>
                                    <div class="am-u-sm-9">
                                        <select data-am-selected="{searchBox: 1}" style="display: none;" id="tls"
                                                th:field="*{tls}">
                                            <option th:value="true">开启</option>
                                            <option th:value="false">关闭</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <div class="am-u-sm-9 am-u-sm-push-3">
                                        <button type="submit" class="am-btn am-btn-primary tpl-btn-bg-color-success "
                                                th:text="${submit}"></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/static/js/amazeui.min.js"></script>
<script src="/static/js/amazeui.datatables.min.js"></script>
<script src="/static/js/dataTables.responsive.min.js"></script>
<script src="/static/js/app.js"></script>

</body>

</html>