<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Language" content="en"/>
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#4188c9">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <link rel="icon" href="/static/images/favicon.png" type="image/x-icon"/>
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.png"/>
    <!-- Generated: 2018-04-16 09:29:05 +0200 -->
    <title>Fabric Net Server - github.com/aberic/fabric-net-server</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext">
    <script src="/static/js/require.min.js"></script>
    <script>
        requirejs.config({
            baseUrl: '.'
        });
    </script>
    <!-- Dashboard Core -->
    <link href="/static/css/dashboard.css" rel="stylesheet"/>
    <script src="/static/js/dashboard.js"></script>
    <!-- c3.js Charts Plugin -->
    <link href="/static/plugins/charts-c3/plugin.css" rel="stylesheet"/>
    <script src="/static/plugins/charts-c3/plugin.js"></script>
    <!-- Input Mask Plugin -->
    <script src="/static/plugins/input-mask/plugin.js"></script>
</head>

<body class="">
<div class="page">
    <div class="page-main">
        <div th:include="fns_header :: header"></div>
        <div class="my-3 my-md-5">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <form class="card" enctype="multipart/form-data" th:action="@{submit}" th:method="post"
                              th:object="${peer}">
                            <div class="card-header">
                                <h3 class="card-title" th:text="${intentLittle}"></h3>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6 col-lg-12">
                                        <div class="form-group">
                                            <label for="league-name" class="form-label" th:text="#{league_list}"></label>
                                            <select id="league-name" class="form-control custom-select"
                                                    th:field="*{orgId}">
                                                <option th:each="org: ${orgs}" th:value="${org.id}"
                                                        th:text="${org.leagueName}+'-'+${org.mspId}"></option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label" th:text="#{peer_name}"></label>
                                            <input type="text" class="form-control is-valid"
                                                   name="example-text-input-valid"
                                                   th:placeholder="#{peer_name_placeholder}"
                                                   id="name"
                                                   onblur="check('name')"
                                                   th:field="*{name}">
                                            <input type="hidden" name="intent" th:value="${intent}"/>
                                            <input type="hidden" name="id" th:value="${peer.id}"/>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label" th:text="#{peer_location}"></label>
                                            <input type="text" class="form-control is-valid"
                                                   name="example-text-input-valid"
                                                   th:placeholder="#{peer_location_placeholder}"
                                                   id="location"
                                                   onblur="check('location')"
                                                   th:field="*{location}">
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label" th:text="#{peer_event_hub_location}"></label>
                                            <input type="text" class="form-control is-valid"
                                                   name="example-text-input-valid"
                                                   th:placeholder="#{peer_event_hub_location_placeholder}"
                                                   id="eventHubLocation"
                                                   onblur="check('eventHubLocation')"
                                                   th:field="*{eventHubLocation}">
                                        </div>
                                        <div class="form-group">
                                            <div class="form-label" th:text="#{peer_server_crt}"></div>
                                            <div class="custom-file">
                                                <input id="server-crt-file" type="file" class="custom-file-input"
                                                       name="serverCrtFile" onchange="getServerCrtFileName()">
                                                <label id="server-crt-file-label" class="custom-file-label"
                                                       th:text="#{peer_server_crt_upload}"></label>
                                                <script>
                                                    function getServerCrtFileName() {
                                                        document.getElementById("server-crt-file-label").innerText = $("#server-crt-file").val();
                                                    }
                                                </script>
                                            </div>
                                        </div>
                                        <div class="form-group" >
                                            <div class="form-label" th:text="#{peer_user_client_cert}"></div>
                                            <div class="custom-file">
                                                <input id="client-cert-file" type="file" class="custom-file-input"
                                                       name="clientCertFile" onchange="getClientCertFileName()">
                                                <label id="client-cert-file-label" class="custom-file-label"
                                                       th:text="#{peer_user_client_cert_upload}"></label>
                                                <script>
                                                    function getClientCertFileName() {
                                                        document.getElementById("client-cert-file-label").innerText = $("#client-cert-file").val();
                                                    }
                                                </script>
                                            </div>
                                        </div>
                                        <div class="form-group" >
                                            <div class="form-label" th:text="#{peer_user_client_key}"></div>
                                            <div class="custom-file">
                                                <input id="client-key-file" type="file" class="custom-file-input"
                                                       name="clientKeyFile" onchange="getClientKeyFileName()">
                                                <label id="client-key-file-label" class="custom-file-label"
                                                       th:text="#{peer_user_client_key_upload}"></label>
                                                <script>
                                                    function getClientKeyFileName() {
                                                        document.getElementById("client-key-file-label").innerText = $("#client-key-file").val();
                                                    }
                                                </script>
                                            </div>
                                        </div>
                                        <div class="card-footer text-right">
                                            <div class="d-flex">
                                                <button type="submit" class="btn btn-primary ml-auto"
                                                        id="submitBtn"
                                                        th:text="${submit}">
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:include="fns_footer :: footer"></div>
</div>
<script src="https://unpkg.com/ionicons@4.2.4/dist/ionicons.js"></script>

<script>
    function check(idStr){
        var that = $("#"+idStr)
        var parent = that.parent()
        if(that.val().trim()==""){
            var msg;
            if(idStr=="name"){
                msg = "名称不能为空"
            }else if(idStr=="location"){
                msg="访问地址不能为空"
            }else if(idStr=="eventHubLocation"){
                msg="节点事件监听访问地址不能为空"
            }

            that.addClass("is-invalid")
            if(parent.children("[name='nameError']").length==0){
                parent.append('<div name="nameError" class="invalid-feedback">'+msg+'</div>')
            }
            return false;
        }else{
            that.removeClass("is-invalid")
            parent.children("[name='nameError']").remove();
            return true
        }
    }

    require(['c3', 'jquery'], function (c3, $) {

        $(document).ready(function () {
            $("#submitBtn").click(function(){
                return check("name") && check("location") && check("eventHubLocation")
            })
        })
    });
</script>
</body>

</html>
